<div class="row my-4 mx-5">
    <dn-auto-complete
    (valueChange)="text = $event"
    fieldName="tenCongTrinh"
    placeholder="tenCongTrinh"
    fieldValue="maCTXD"
    [service]="dataService"
  ></dn-auto-complete>
  
    <button class="btn btn-warning" (click)="table.loadData()">loc</button>
</div>

<ngn-datatable class="material" #table selectionType="single" [datatableService]="dataTableS"
    [externalPaging]="true" [limit]="10" [scrollbarH]="true">
    <ngn-datatable-column prop="tenCongTrinh" name="Tên công trình" [width]="300" [frozenLeft]="true" [flexGrow]="2">
        <ng-template ngn-datatable-cell-template let-value="value">
            <span [nbTooltip]="value">{{ value }}</span>
        </ng-template>
    </ngn-datatable-column>
    <ngn-datatable-column prop="chuDauTu.tenChuDauTu" name="chuDauTu" [width]="300" [frozenLeft]="true" [flexGrow]="2">
        <ng-template ngn-datatable-cell-template let-value="value">
            <span [nbTooltip]="value">{{ value }}</span>
        </ng-template>
    </ngn-datatable-column>
</ngn-datatable>