.cell-tien-do {
  padding: 4px 6px 4px 6px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .du-an {
    margin-right: 2px;
  }
  &.mKQTD {
    background-color: #00308f;
    color: whitesmoke;
  }
  &.mDTTT {
    background-color: #1877f2;
    color: whitesmoke;
  }
  &.mLYK {
    background-color: #2c3968;
    color: whitesmoke;
  }
  &.mTDHS {
    background-color: #15f4ee;
    color: whitesmoke;
  }
  &.mXTT {
    background-color: #005f69;
    color: whitesmoke;
  }
}
